{% extends "layout.html" %}

{% block body %}

    <h1>Buscar partidas da <a href="https://www.branqs.com.br/copaBranqs/copaBranqs.html">CopaBranqs<a></h1>

    <form method="POST" action="/raspar">

        <label for="ano_copa">Digite o ano da copa das partidas que deseja buscar</label>
        <input autocomplete="off" autofocus type="text" id="ano_copa" name="ano_copa" placeholder="2003-2015" maxlength="4">
        <button type="submit" class="btn-buscar">Buscar</button>
        
    </form>

{% endblock %}